html {
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 25px 25px 25px;
    display: grid;
    grid-template-areas: "buttons-area volume-area seek-area";
    grid-template-columns: auto auto 1fr;
    gap: 30px;
    background-color: #30475e;
}

.player-buttons {
    background-color: #f1935c;
}

.player-buttons:hover {
    cursor: pointer;
    background-color: #e7b2a5;
}

.player-buttons:active {
    background-color: #ba6b57;
}

.player-buttons > svg {
    color: #30475e;
}

#buttons-container {
    grid-area: buttons-area;
    display: flex;
    align-items: center;
}

#buttons-container > div:first-child {
    margin-right: 10px;
}

#buttons-container > div:last-child {
    margin-left: 10px;
}

#buttons-container > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons-container > div:nth-child(2) > div:last-child {
    display: flex;
    align-items: center;
    margin-top: 10px;
    min-width: 75px;
}

#volume-container {
    grid-area: volume-area;
}

.slider-container {
    border: 1px solid #f1935c;
    border-radius: 20px;
}

.slider {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    transform: scale(3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider > svg {
    transform: scale(0.3) translate(-1px, -1px);
}

#seek-container {
    grid-area: seek-area;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#seek-container > div:first-child {
    color: white;
    font-weight: 700;
}

#seek-container > div:nth-child(2) {
    display: flex;
    color: white;
    font-weight: 300;
}

#seek-container > div:nth-child(2) > span:last-child {
    margin-left: auto;
}

#play-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0;
}

#shuffle-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
}

#loop-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    margin-left: auto;
}

#prev-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    margin-left: auto;
}

#next-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    margin-left: auto;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
