/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 25px 25px 25px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "buttons-area volume-area seek-area";
    -ms-grid-columns: auto 30px auto 30px 1fr;
    grid-template-columns: auto auto 1fr;
    gap: 30px;
    background-color: #30475e;
    -webkit-box-shadow: 0px -1px 10px 3px rgba(0, 0, 0, 0.4);
            box-shadow: 0px -1px 10px 3px rgba(0, 0, 0, 0.4);
}

.player-buttons {
    background-color: #f1935c;
}

.player-buttons:hover {
    cursor: pointer;
    background-color: #feb377;
}

.player-buttons:active {
    background-color: #ba6b57;
}

.player-buttons > svg {
    color: #30475e;
}

#buttons-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: buttons-area;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#buttons-container > div:first-child {
    margin-right: 10px;
}

#buttons-container > div:last-child {
    margin-left: 10px;
}

#buttons-container > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#buttons-container > div:nth-child(2) > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    min-width: 75px;
}

#volume-container {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: volume-area;
}

.slider-container {
    border: 1px solid #f1935c;
    border-radius: 20px;
}

.slider-container:hover {
    cursor: pointer;
}

.slider {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    -webkit-transform: scale(3);
        -ms-transform: scale(3);
            transform: scale(3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.slider > svg {
    -webkit-transform: scale(0.3) translate(-1px, -1px);
        -ms-transform: scale(0.3) translate(-1px, -1px);
            transform: scale(0.3) translate(-1px, -1px);
}

#seek-container {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: seek-area;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

#seek-container > div:first-child {
    color: white;
    font-weight: 700;
    overflow: hidden;
    height: 20px;
}

#seek-container > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    font-weight: 300;
}

#seek-container > div:nth-child(2) > span:last-child {
    margin-left: auto;
}

#play-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0;
}

.button-on {
    background-color: #75b79e;
}

#shuffle-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
}

#loop-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    margin-left: auto;
}

button[class*="button-on"]:hover {
    background-color: #a7e9af !important;
}

button[class*="button-on"]:active {
    background-color: #75b79e !important;
}

#prev-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    margin-left: auto;
}

#next-button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 0;
    margin-left: auto;
}

#album-cover {
    position: fixed;
    bottom: 120px;
    right: 5%;
    background-color: black;
    width: 175px;
    height: 175px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
}

#album-cover > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    height: 100vh;
    padding-bottom: 130px;
}

#main-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#main-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#main-grid > div:first-child {
    padding: 10px 10px 30px 10px;
    overflow-y: scroll;
}

#main-grid > div:first-child > div:first-child {
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#main-grid > div:first-child > div:first-child > button {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    width: 25px;
    height: 25px;
}

#main-grid > div:first-child > div:first-child > button:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

#main-grid > div:first-child > div:first-child > button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

#main-grid > div:last-child {
    padding: 10px 10px 30px 10px;
    overflow-y: scroll
}

#main-grid > div:last-child > div:first-child {
    font-weight: 700;
    margin-bottom: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr 0.5fr;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    padding-left: 10px;
    padding-right: 10px;
}

.list {
    padding: 10px;
}

.list:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.list:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.audio-details {
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr 0.5fr;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
}

.audio-details:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.audio-details:active {
    background-color: rgba(0, 0, 0, 0.3);
}

#create-play-list-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 20;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#create-play-list-dialog > input {
    margin-bottom: 25px;
    border: 1px solid #30475e;
    height: 30px;
    width: 250px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    color: #30475e;
}

#create-play-list-dialog > input:focus {
    border: 4px solid #30475e;
}

#create-play-list-dialog > div > button:first-child {
    margin-right: 25px;
    background-color: #30475e;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    width: 75px;
    height: 30px;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

#create-play-list-dialog > div > button:first-child:hover {
    background-color: #436485;
    cursor: pointer;
}

#create-play-list-dialog > div > button:first-child:active {
    background-color: #1d2b3a;
}

#create-play-list-dialog > div > button:last-child {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    width: 75px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

#create-play-list-dialog > div > button:last-child:hover {
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    cursor: pointer;
}

#create-play-list-dialog > div > button:last-child:active {
    background-color: rgba(0, 0, 0, 0.2);
}

#context-menu {
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

.menu-item {
    padding: 5px 10px 5px 10px;
    color: rgba(0, 0, 0, 0.5);
}

.menu-item:not(.disabled):hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
}

.menu-item:not(.disabled):active {
    background-color: rgba(0, 0, 0, 0.2);
}

.disabled {
    cursor: default !important;
}

hr {
    margin: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

#info-dialog {
    position: fixed;
    height: auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #30475e;
    color: white;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
}

#info-dialog > svg {
    font-size: 50px;
}

#info-dialog > button {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    width: 75px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
}

#info-dialog > button:hover {
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

#info-dialog > button:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.active {
    background-color: #30475e;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.active:hover {
    cursor: pointer;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus {
    outline: none;
}
